body {
  font-family: 'Propos Regular';
  font-size: 10px;
}


.f1,.f2,.f3,.f4,.f5,.f6,.f7 {
  font-family: 'Propos Regular';
  font-weight: normal;
}


.f7 {
  font-size: 11px;
}


.fCaps {
  text-transform: uppercase;
  font-family: 'NittiGrotesk';
  font-size: 12px;
  letter-spacing: 1px;
}


p {
  padding-top: 0;
  margin-top: 0;
}


.fHorz {
  text-transform: uppercase;
  font-family: 'NittiGrotesk';
  font-size: 12px;
}


.fBigLink {
  font-size: 25px;
  text-decoration: none;
  line-height: 1em;
  color: #8A8A8A;
  position: relative;
}


.fBigLink:hover {
  color: #2C2F32;
  cursor: pointer;
}


.fBigLink:hover:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 60%;
  left: 0;
  background: #09F5FF;
  z-index: -1;
}


.fBigLink-active {
  color: #2C2F32;
}


.noAnchorStyle {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.noAnchorStyle:hover {
  opacity: .5;
}


.header, .links a {
  color: #fff;
}


a {
  color: #fff;
}


#nazar-active .header,
#nazar-active a,
#nazar .desc,
#nazar-active .links {
  color: #FFF !important;
}


#fiorucci-active .header,
#fiorucci-active a,
#fiorucci .desc,
#fiorucci-active .links {
  color: #000 !important;
}


#resonate-active .header,
#resonate-active a,
#resonate-active .links,
#resonate .desc {
  color: #000 !important;
}


#cr-active .header,
#cr-active a,
#cr-active .links,
#cr .desc {
  color: #FFF !important;
}


#lj-active .header,
#lj-active a,
#lj-active .links,
#lj .desc {
  color: #000 !important;
}


#sp-active .header,
#sp-active a,
#sp-active .links,
#sp .desc {
  color: #FFF !important;
}


#profile-active .header,
#profile-active a,
#profile-active .links,
#profile-active .desc {
  color: #000!important;
}


.bold {
  font-weight: bold;
}

