.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

html,
body {
  height: 100%;
}

.img-default {
  float: left;
  text-align: center;
}

@media only screen and (max-width: 600px) {
.img-default {
  margin: 100px 20px;
}

.img-web {
  margin: 50px 20px;
}
}

.img-web img {
  width: 100%;
}

.img-mobile {
  margin-left: 0;
  margin-right: 0;

}

.img-web img,
.img-mobile img {
    border: solid 1px #D7D7D7;
    border-radius: 10px;
    box-shadow: 0 0 19px 0 #B5BEC7;

}

.img-mobile {
  margin: 50px 400px;
}

.img-mobile .desc,
.img-web .desc {
  margin-left: 10px;
}


.img-full {
  margin: 0;
}

body.theme-fiorucci {
  background: #F9FF00;
}

body.theme-cr {
  background: #000;
  color: #fff;
}

body.theme-cr a {
  color: #fff;
}

.video,
audio {
  left: -9999px;
}

audio {
  position: fixed;
}

.video-active {
  left: 0px;
}

.video-content {
  width: 100%    !important;
  height: auto   !important;
}


.fiorucci {
  background: #83FF00;
}

.link a,
header p {
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}

.project-active {
  font-size: 60px;
  letter-spacing: -5px;
}

.hero-vid,
.vid-play {
  width: 600px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vid-play {
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

#resonate .container > div {
  margin-bottom: 80px;
}
