body {
  font-family: 'Graphik Regular';
}


.f1,.f2,.f3,.f4,.f5,.f6,.f7 {
  font-family: 'Graphik Regular';
  font-weight: normal;
}

.f7 {
  font-size: 11px;
}

a {
  color: #000;
}

.fCaps {
  text-transform: uppercase;
  font-family: 'NittiGrotesk';
  font-size: 12px;
  letter-spacing: 1px;
}

p {
  padding-top: 0;
  margin-top: 0;
}

.fHorz {
  text-transform: uppercase;
  font-family: 'NittiGrotesk';
  font-size: 12px;
}

.fBigLink {
  font-size: 25px;
  text-decoration: none;
  line-height: 1em;
  color: #8A8A8A;
  position: relative;
}

.fBigLink:hover {
  color: #2C2F32;
  cursor: pointer;
}

.fBigLink:hover:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 60%;
  left: 0;
  background: #09F5FF;
  z-index: -1;
}

.fBigLink-active {
  color: #2C2F32;
}

.noAnchorStyle {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.noAnchorStyle:hover {
  opacity: .5;
}
